@import "tailwindcss";

:root {
  --background: #ffffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'Tangerine', serif;
  font-weight: 700;
  font-size: 8rem;
}

#studio{
  font-family: 'Tangerine', serif;
  font-size: 4rem;
}

#subTitle {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #db2777 !important; /* Cor rosa/pink do seu tema */
}

.swiper-pagination-bullet-active {
  background-color: #db2777 !important; /* Cor rosa/pink do seu tema */
}
